<%- include('./partials/header') %>


<form action="/cohorts" method="POST">
    <div class="mb-3">
      <label for="logo" class="form-label">Logo Url</label>
      <input name="logo" type="text" class="form-control" id="logo" placeholder="e.g. https://www.example.com/some.png" placeholder>
    </div>
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input name="cohort_name" class="form-control" id="cohort_name" placeholder="Flying Funks"></input>
    </div>
    <div class="mb-3">
        <label for="Members" class="form-label">Members</label>
        <textArea name="cohort_members" class="form-control" id="cohort_members" placeholder="Kevin Malone, Phillys Vance, Kelly Kapoor, Moose shrute "type="text"></textArea>
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  <%- include('./partials/footer') %>